@charset "UTF-8";
/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
    --main-backgroud: #f5f5f5;
    --text: #222222;
    --reverse-text: #ffffff;
    --highlight: #0077ff;
    --revese-highlight: #66bbff;
    --card-background: #ffffff; 
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
}