@charset "UTF-8";
/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

:root {
    --main-backgroud: #f5f5f5;
    --text: #222222;
    --reverse-text: #ffffff;
    --highlight: #0077ff;
    --revese-highlight: #66bbff;
    --card-background: #ffffff; 
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--text);
    line-height: 1.5em;
    background-color: var(--main-backgroud);
}

header {
    background-color: var(--highlight);
    color: var(--text);
    padding: 20px;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: var(--reverse-text);
    font-weight: 600;
    font-size: 1.6em;
    line-height: 1;
    padding: 10px 12px;
    border-radius: 5px;

    transition: background-color 170ms ease-out;
}

.menu a:hover {
    background-color: var(--revese-highlight);
    color: var(--highlight);
}

main {
    display: grid;
    grid-template-columns: 0.5fr 9fr 0.5fr;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: var(--card-background);
    padding: 20px;
    border-radius: 8px;
    grid-column: 2;
}

.photo {
    width: 200px;
    
    aspect-ratio: 1 / 1;
    object-fit: cover;
    overflow: hidden;
    
    border-radius: 50%;
    border: 5px solid var(--card-background);
    outline: 5px solid var(--highlight);
    
    display: block;
    margin: auto;
    margin-bottom: 16px;
}

.card h1 {
    color: var(--highlight);
    margin: 15px 0;
    font-size: 1.5em;
    text-align: left;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    gap: 1em;
    margin-top: 16px;
}

.social a {
    color: var(--highlight);
    transition: color 190ms ease-in;
}

.social a:hover {
    color: var(--revese-highlight);
}

article {
    background-color: var(--card-background);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

article h2 {
    color: var(--highlight);
    margin-bottom: 10px;
}

.details {
    grid-column: 2;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.video-container {
    position: relative;
    width: 100%;
    margin: auto;
    aspect-ratio: 16 / 9;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
    gap: 15px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-weight: bold;
    color: var(--text);
}

.percent {
    font-weight: bold;
    color: var(--highlight);
}

.bar {
    width: 100%;
    height: 8px;
    background-color: var(--main-backgroud);
    border-radius: 4px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--revese-highlight);
    border-radius: 1px;
}

.education-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 16px;
}

.education-entry {
    background-color: var(--main-backgroud);
    border-radius: 8px;
    border-left: 5px solid var(--revese-highlight);
    padding-left: 12px;
    transition: border-left-width 130ms ease-out;
}

.education-entry:hover {
    border-left-width: 10px;
    border-color: var(--highlight);
    cursor: default;
}

.duration {
    font-size: 0.8em;
    font-weight: bold;
    color: var(--text);
}

.institution {
    font-size: 1.1em;
    color: var(--revese-highlight);
}

@media screen and (min-width: 768px) {
    .skill-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);

        grid-auto-flow: column;
    }
}