@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

body {
    background-color: rgb(67, 136, 90);
    color: rgb(211, 211, 211);
}

mark {
    background-color: black;
    color: white;
}

section{
    background-color: rgb(46, 168, 87);
    width: 1100px;
    margin: auto;
    padding: 20px;
    font: 1.2em 'Roboto Serif';
    border-radius: 16px;
    color: white;
}

h1, h2 {
    background-color: rgb(54, 194, 100);
    padding: 5px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    margin: auto;
}

pre{
    background-color: black;
    border-radius: 10px;
}

p{
    background-color: rgb(54, 187, 98);
    padding: 10px;
    border-radius: 12px;
    text-align: justify;
}

a{
    color: rgb(42, 243, 109);
}