@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    min-height: 100vh;
}

p {
    margin-bottom: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    text-align: left;
    line-height: 1.2em;
}

header, .normal {
    padding: 20px;    
}

.flex-content {
    display: flex;
    flex-flow: column nowrap;

    padding: 20px;
    background-color: hsl(0, 0%, 68%);
}

.text {
    flex: 1 1 500px;   
}

.media {
    margin: 20px 0px;
    flex: 1 1 500px;
}

.media img {
    display: block;
    margin: auto;
}

.media iframe {
    display: block;
    margin: auto;
    width: 90%;
}

.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
}

.text-media {
    display: flex;
    flex-flow: row wrap;
}