@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --mainGreen: #49a09d;
    --mainLavander: #5f2c82;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    min-height: 100vh;
    background-color: var(--mainLavander);
}

main {
    position: relative;
    height: 100vh;
    width: 100%;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

#image {
    display: block;
    background: var(--mainLavander) url(../images/metal.jpg) no-repeat center center;
    background-size: cover;
    height: 200px;
}

#form {
    display: block;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    #login {
        width: 80%;
    }

    #image {
        float: left;
        height: 100%;
        width: 30%;
    }

    #form {
        float: right;
        width: 70%;
    }
}