@charset "UTF-8";

body{
    background-color: #94FFBF;
    font: normal 1.3em Arial, Helvetica, sans-serif;
}

h1{
    color: #4D8F67;
}

h1#main{
    text-align: center;
    background-color: #4D8F67;
    color: white;
}

h2{
    color: #68B386;
}

.basic{
    color: #68B386;
}

.inter{
    color: #aeb368;
}

.advanc{
    color: #b36868;
}

.destaq{
    background-color: #e5f0517e;
}