@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(90deg, #55D6BE, #7CEA9C, #1C77C3);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #0f606e;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #137c69;
    text-align: center;
    text-shadow: 1px 1px 1px #07332b;
}

h2 {
    color: #32af55;

}

p {
    text-align: justify;
}
