@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    display: block;
    width: 100vw;
}

a {
    display: block;
    background-color: darkred;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;

    transition: background-color 0.06s ease-in-out;
}

a:hover {
    background-color: rgb(185, 10, 10);
}